.friend-team {
}

.enemy-team {
}

.world-health-bar__container {
    position: absolute;
    width: 500px;
    height: 120px;
    align-items: flex-start;
    flex-grow: 0;
    aspect-ratio: auto;
    translate: 0 0;
    top: auto;
    left: auto;
    display: flex;
}

.container__scale-container {
    width: auto;
    height: auto;
    flex-grow: 1;
}

.playerName {
    align-items: flex-start;
    color: rgb(255, 255, 255);
    -unity-font-style: bold;
    justify-content: flex-start;
    align-self: center;
    flex-grow: 0;
    width: 100%;
    height: 100%;
}

.scale-container__root {
    width: 100%;
    height: 100%;
    border-top-width: 7px;
    border-right-width: 7px;
    border-bottom-width: 7px;
    border-left-width: 7px;
    border-top-color: var(--first-color);
    border-right-color: var(--first-color);
    border-bottom-color: var(--first-color);
    border-left-color: var(--first-color);
    flex-grow: 1;
}

.root__background {
    background-color: var(--health-bar-bg-color);
    width: 100%;
    height: 100%;
}

.background__fill {
    background-color: rgb(137, 219, 42);
    height: 100%;
    width: 100%;
}
